.Options__div {
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Options___fieldsets {
  display: flex;
  flex-direction: row;
}

.Options___Checkbox {
  display: block;
}