.Options__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 1;
  width: 100%;
}

.SearchBar__div.mainContainer {
  padding-left: .5rem;
  align-self: flex-start;
}

.SearchBar__input {
  height: 100%;
}

.Options__h3{
  margin: 0;
  padding-left: 3rem;
}

.Options__div.h3Container {
  display: flex;
  flex-direction: row;
}

.Options__div.componentsContainer {
  height: 50%;
  width: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}

.Checkboxes__div.mainContainer {
  padding: 0px;
}
.Checkboxes__div.checkboxContainer{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Checkboxes__div.checkboxes {
  width: 150px;
  padding: 3px;
  text-align: left;
}

.Options__button {
  padding: 3px 6px 6px;
  border-style: none;
  border: 1pt solid black;
}

.hidden {
  display: none;
}

.DemoMain {
  display: none;
}

.Options__button {
  margin: 1.5rem .25rem;
}

@media screen and (min-width: 1024px) {
  .Options__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    height: 480px;
    background-color: grey;
    border-radius: 3px;
    margin: 7.5rem 1rem 0 0;
    padding: 10px;
    position: sticky;
    top: 8.5rem;
  }

  .Options__form > * {
    margin-left: auto;
    margin-right: auto;
  }
  
  .DemoNav {
    display: none;
  }

  .DemoMain {
    display: inherit;
  }

  .SearchBar__div.mainContainer {
    display: block;
    width: 240px;
    padding: 0;
  }
  
  .SearchBar__input {
    height: inherit;
    width: 100%;
  }

  .Options__div.componentsContainer {
    height: 100%;
    width: 240px;
    padding: .5rem 0 0 0;
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
  }

  .Options__div.componentsContainer > * {
    width: 240px;
  }

  .Options__h3, .SearchBar__h3 {
    margin: .4rem 0 0;
    padding: 0 0;
  }

  .Options__h4 {
    margin: .5rem 0;
    text-align: center;
  }

  .Options__select {
    width: 100%;
  }

  .Checkboxes__div.checkboxContainer {
    height: 180px;
  }
  .Checkboxes__div.checkboxes {
    padding: 0 0 0 10px;
    width: 50%;
  }

  .Checkboxes__label {
    font-size: 1rem;
  }

  .Checkboxes__input {
    margin: 0 .5rem 0 0;
  }

  .Option__select {
    width: 100%;
  }

}
